module.exports.MANDRILL_API_KEY = "YOUR_MANDRILL_API_KEY_HERE";
module.exports.TUMBLR_CONSUMER_KEY = "YOUR_TUMBLR_CONSUMER_KEY";
module.exports.TUMBLR_CONSUMER_SECRET = "YOUR_TUMBLR_COMSUMER_SECRET";
module.exports.TUMBLR_TOKEN = "YOUR_TUMBLR_TOKEN";
module.exports.TUMBLR_TOKEN_SECRET = "YOUR_TUMBLR_TOKEN_SECRET";
module.exports.TUMBLR_BLOG_URL = "YOUR_BLOG_HOSTNAME";
